<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href="/" style='font-size: 200%; color: goldenrod;'>NFLevate</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <div id="nflTeamDropdown">
            <!-- empty div for displaying player dropdown-->
        </div>
        &nbsp;&nbsp;
        <div id="nflPlayerDropdown">
            <!-- empty div for displaying player dropdown-->
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;
         <div id="teamTitle">
            <!-- empty div for displaying team name-->
        </div>
        &nbsp;&nbsp;
        
    </div>
</nav>

<!-- END OF NAVBAR PANE !-->


<div class="container">

  <div class='row'>

    <div class='col-md-4'>
      <div class='card' style='opacity: 0.9;' id='news-card-section'>
        <div class='card-body' style='overflow-y: auto; max-height: 600px;'>
          <h5 class='card-title' style='color: black'>Latest News</h5>
          <p class='card-text' style='color: black' id='news'></p>
        </div>
      </div>
    </div>
  
    <div class='col-md-4 col-offset-md-4'>
      <div class='card' style='opacity: 0.9;' id='wiki-card-section'>
        <div class='card-body' style='overflow-y: auto; max-height: 353px;'>
          <h5 class='card-title' style='color: black'>Summary</h5>
          <p class='card-text' style='color: black' id='wiki'></p>
        </div>
      </div>
      <br>
      <div id="teamLogo">
      </div>
    </div>

     <div class='col-md-4 col-offset-md-8'>
     <div class='card' style='opacity: 0.9;' id='wiki-card-section'>
        <div class='card-body' style='overflow-y: auto; max-height: 600px;'>
          <a class='twitter-timeline' href='https://twitter.com/{{this.twitterHandle}}' data-chrome='nofooter noborders'></a>
        </div>
      </div>
    </div>
    
  </div>

</div>

<div>
  <div id="getTeamName" data-value="{{this.teamName}}"></div>
  <div id="getTeamLongId" data-value="{{this.teamLongId}}"></div>
  <div id="getDisplayUrl" data-value="{{this.displayUrl}}"></div>
  <div id="getApiTeamAccessId" data-value="{{this.apiTeamAccessId}}"></div>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/team.js"></script>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>