<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">NFLevate</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/"{{this.TeamLongId}} id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Players
        </a>
        <div class="dropdown-menu selectTeam" aria-labelledby="navbarDropdown" id="navbarDropdown2">
{{!--           
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a> --}}
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <div id="teamTitle">
      <h1><center><strong><i><font color='goldenrod'>{{this.teamName}}&nbsp;&nbsp;&nbsp;</font></i></strong></center></h1>
      <!-- empty div for displaying team name-->
    </div>
    {{!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Player Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> --}}
    <div id="nflPlayerDropdown">
      <!-- empty div for displaying player dropdown-->
    </div>
  </div>
</nav>

<div class="container">

  <div class='row'>

    <div class='col-md-6'>
      <div class='card' style='opacity: 0.8;' id='news-card-section'>
        <div class='card-body' style='overflow-y: auto; max-height: 500px;'>
          <h5 class='card-title' style='color: black'>Latest News</h5>
          <p class='card-text' style='color: black' id='news'></p>
        </div>
      </div>
    </div>
  
    <div class='col-md-6 col-offset-md-6'>
      <div class='card' style='opacity: 0.8;' id='wiki-card-section'>
        <div class='card-body' style='overflow-y: auto; max-height: 500px;'>
          <h5 class='card-title' style='color: black'>Team Summary and History</h5>
          <p class='card-text' style='color: black' id='wiki'></p>
        </div>
      </div>
    </div>

  </div>

</div>

<div>
  <div id="getTeamName" data-value="{{this.teamName}}"></div>
  <div id="getTeamLongId" data-value="{{this.teamLongId}}"></div>
  <div id="getDisplayUrl" data-value="{{this.displayUrl}}"></div>
  <div id="getApiTeamAccessId" data-value="{{this.apiTeamAccessId}}"></div>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/team.js"></script>
