

<div id="header">
  <a href="/" id="logo">NFLevate</a>
  <ul id="menu">
    <li><a href="/"><span>Home</span></a></li>
    <li><a href="/"><span>Teams</span></a></li>
    <li><a href="/"><span>Players</span></a></li>

  </ul>
<br><br><br>
</div>
{{!-- <h3>Testing: {{this.name}}</h3> --}}
<div id="teamTitle">
  
</div>
<div id="team">
  <div class="container">
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <div id="nflTeamDropdown2">
          <!-- empty div for displaying team dropdown-->
        </div>
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h3>Team Page</h3>
        <div id="test-area">
          <!-- empty div -->
        </div>

        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Example Text</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="example-description">Example Description</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter Example Description"></textarea>
          </div>
          <button id="submit" class="btn btn-warning float-right">Submit</button>
        </form>
        <h3>Examples:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/team.js"></script>
